<!DOCTYPE html>
<html lang="en">


<head>
    <title>login</title>
</head>

<body>
<header>
	<!-- {% include "heder.html" %} -->
</header>

    <!--Start Page -->
    <div class="page-wrapper section-ptb-3" data-aos="fade-up">
        <!-- <div class="container">
            <div class="row">
                <div class="col-md-10 mx-auto">
                    <div class="apply-wrapper"> -->
                        <h2>Login Form</h2>
                        <form action="/session_s" class="apply_form bg_dark_9 p-5" method="Post">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="user_first_name">Enter User Name</label>
                                        <input type="text" class="form-control" placeholder="User Name"  required="" name="u_name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="user_last_name">Enter Password</label>
                                        <input type="password" class="form-control" placeholder="Password "  required="" name="p_name">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 mx-auto text-center">
                                    <button type="submit" class="btn academy-btn mt-30" style="background-color: #61ba6d">Submit Form</button><br>
                                    &nbsp;<br>
                                    &nbsp;<br>
                                    <!-- <a href="/reg">New Student Registration</a> -->
                                </div>

                            </div>
                        </form>

                    </div>


</body>

</html>